<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/compile.css">
    <link rel="stylesheet" type="text/css" href="/public/css/materialdesignicons.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/public/css/content-placing.css">
</head>
<body class="indigo lighten-5 scrollbar scrollbar-hidden position-relative" ng-app="eTabatabaAdmin">
    <header>
        <!-- Navbar -->
        <%- include ../includes/navbar %>
        <!-- end Navbar -->
        <!-- SideNav -->
        <div id="sideNav" class="white z-depth-1 scrollbar-hidden">
            <div class="py-4 text-center purple-gradient">
                <img src="<%= client.profile %>" class="sidenav-avatar rounded-circle">
            </div>
            <ul class="list-unstyled">
                <li class="py-lg-3 px-2 text-center"><a href="#!/" class="grey-text active" title="Overview"><i class="mdi mdi-desktop-mac-dashboard"></i></a></li>
                <li class="py-lg-3 px-2 text-center"><a href="#!stats" class="grey-text" title="Statistiques"><i class="mdi mdi-chart-areaspline"></i></a></li>
                <li class="py-lg-3 px-2 text-center"><a href="#!users" class="grey-text" title="Gestion des utilisateurs"><i class="mdi mdi-account-group"></i></a></li>
                <li class="py-lg-3 px-2 text-center"><a href="#!posts" class="grey-text" title="Publications"><i class="mdi mdi-ballot"></i></a></li>
                <li class="py-lg-3 px-2 text-center"><a href="#!forum" class="grey-text" title="Forum et questions"><i class="mdi mdi-comment-text"></i></a></li>
                <li class="py-lg-3 px-2 text-center"><a href="#!pubs" class="grey-text" title="Annonces"><i class="mdi mdi-book-open"></i></a></li>
                <li class="py-lg-3 px-2 text-center mt-auto"><a href="#!settings" class="grey-text" title="Paramètres"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>
        <!-- end SideNav -->
    </header>
    <main style="margin-left: 65px;" class="ng-view">
    </main>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/mdb.min.js"></script>
<script src="/public/js/app.min.js"></script>
<script src="/public/js/customizer.min.js"></script>
<script src="/public/js/moment.js"></script>
<script src="/public/js/moment-with-locales.js"></script>
<script src="/public/js/angular.js"></script>
<script src="/public/js/angular-route.js"></script>
<script src="/public/modules/admin/dashboard.js"></script>
<script src="/public/modules/admin/posts.js"></script>
<script src="/public/modules/admin/pubs.js"></script>
<script src="/public/modules/admin/settings.js"></script>
<script src="/public/modules/admin/stats.js"></script>
<script src="/public/modules/admin/users.js"></script>
<script src="/public/modules/admin/forum.js"></script>
<script src="/public/modules/admin/app.js"></script>
<script type="text/javascript">
    const client_id = '<%= client._id %>';
    const user = <%- JSON.stringify(client) -%>;
    window.localStorage.setItem('tabatabaToken', '<%= token %>');
</script>
</body>
</html>