<div class="row">
    <div class="col-sm-3 white arrondi px-1 profileTabList">
        <ul class="nav md-pills pills-purple flex-column" role="tablist">
            <li class="nav-item">
                <a href="#location" class="nav-link active" data-toggle="tab" role="tab">Informations générales</a>
            </li>
            <li class="nav-item">
                <a href="#materiels" class="nav-link" data-toggle="tab" role="tab">Matériel(s)</a>
            </li>
            <li class="nav-item">
                <a href="#interested" class="nav-link" data-toggle="tab" role="tab">Tag(s)</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 px-2">
        <div class="tab-content vertical white arrondi p-0">
            <%- include aboutUser/location %>
            <%- include aboutUser/material %>
            <%- include aboutUser/tag %>
        </div>
    </div>
</div>