<div class="d-inline-block align-top" id="postsContainer" ng-controller="PostsController">
    <%- include ../posts/posts %>
</div>
<div class="d-inline-block align-top white arrondi mb-2" id="questionsContainer">
    <div class="text-center grey-text my-2">
        <p class="text-muted">Aucune question</p>
        <button class="btn btn-sm btn-primary">Poser une question</button>
    </div>
</div>


<!-- Da hidden failu inputu -->
<form enctype="multipart/form-data" id="posterForm">
    <input type="file" id="posterInput" name="posterInput" multiple="multiple" style="display: none;">
</form>

<!-- end ofu Da hidden failu inputu -->
<!-- innerBlack -->
<div style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; background-color: rgba(0,0,0,0.75); display: none;" id="innerBlack"></div>
<!-- end innerBlack -->