<!-- Header -->
<%- include ../layout/header %>
<!-- ./. Header -->

<body ng-app="chat-app" ng-controller="ProfileController" class="indigo lighten-5 scrollbar scrollbar-hidden position-relative">
<!--Navbar-->
<%- include ../includes/navbar %>
<!--/.Navbar-->
<div class="container position-relative">
    <aside class="content-right"></aside>
    <!-- Photo de couverture -->
    <div class="purple-gradient back-cover w-100 position-relative">
        <div class="p-1 white profile-container">
            <div class="view overlay">
                <img src="<%= visited.profile %>" class="w-100 user-avatar">
                <a ng-click="askProfile()" class="mask rgba-grey-slight flex-center">
                    <p class="text-wrap black-text text-center">
                        <i class="fa fa-camera fa-3x"></i><br> Modifier la photo de profil
                    </p>
                </a>
            </div>
        </div>
    </div>
    <%- include updateProfileModal %>
    <!-- end Photo de couverture -->
    <!-- Profile navigation -->
    <div class="tabs-wrapper z-depth-1 profile-2nd-nav">
        <ul class="nav classic-tabs tabs-white profile-2nd-nav" role="tablist">
            <li class="nav-item">
                <a href="#aboutUser" class="nav-link waves-light purple-text" data-toggle="tab" role="tab">A propos</a>
            </li>
            <li class="nav-item">
                <a href="#activityUser" class="nav-link waves-light purple-text active" data-toggle="tab" role="tab">Journal</a>
            </li>
            <li class="nav-item">
                <a href="#groupsUser" class="nav-link waves-light purple-text" data-toggle="tab" role="tab">Groupes</a>
            </li>
        </ul>
    </div>
    <!-- end Profile navigation -->
    <!-- Profile content tabs -->
    <div class="tab-content mt-1">
        <div class="tab-pane fade in show active position-relative" id="activityUser" role="tabpanel">
            <% include activityUser %>
        </div>
        <div class="tab-pane fade" id="aboutUser">
            <% include aboutUser %>
        </div>
        <div class="tab-pane fade" id="groupsUser">
            <% include groupUser %>
        </div>
    </div>
    <!-- end Profile content tabs -->
</div>
<!-- flash Message -->
<div class="elegant-color text-center text-white px-3" id="flashMessage">iciciciccici</div>
<!-- end flash Message -->

<!-- Modals -->
<div class="modal fade" role="dialog" id="deletionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center text-danger">
                Souhaitez-vous supprimer cette publication?<br>
                Cette action est irréversible.
            </div>
            <input type="hidden" id="postToDelete">
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat btn-sm" ng-click="cancelDeletion()">Annuler</button>
                    <button class="btn btn-primary btn-sm" ng-click="deletePost()">Suivant</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modals -->

<!-- Scripts -->
<%- include ../layout/scripts %>
<!-- ./. Scripts -->

<script type="text/javascript">
    const user = <%- JSON.stringify(client) -%>;
    const visited = <%- JSON.stringify(visited) %>;
    const client_id = user._id;
	var socket = io();
</script>
</body>
</html>