<div class="modal fade" id="updateProfileModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header white-text">
                Modifier la photo de profil
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center my-1">
                    <img src="<%= visited.profile %>" class="user-avatar" id="profile" style="max-width: 200px;">
                </div>
                <div>
                    <div id="selector">
                        <button class="btn btn-default py-1 no-transform" ng-click="selectProfile()">Séléctionner un fichier</button>
                    </div>
                    <div id="confirmer" style="display:none;">
                        <button class="btn btn-success py-1 no-transform" ng-click="saveProfile()"><i class="fa fa-check"></i> Enregisrer</button>&nbsp;
                        <button class="btn btn-info py-1 no-transform" ng-click="selectProfile()"><i class="fa fa-edit"></i> Remplacer</button>
                    </div>
                    <button class="btn btn-secondary py-1 no-transform" ng-click="cancelProfile()">Annuler</button>
                </div>
                <form enctype="multipart/form-data" id="form" style="display:none;">
                    <input type="file" id="file" name="avatar" accept="image/*">
                </form>
            </div>
        </div>
    </div>
</div>