
<nav class="navbar navbar-dark navbar-expand-sm primary-color fixed-top" style="z-index: 10; height: 60px" ng-controller="NotificationController">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="/public/images/logo.png" alt="logo" style="width: 100px" class="img-fluid"></a>
        <form class="w-25 ml-5">
            <div class="md-form mt-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light px-3 py-0" href="/forum">
                    <i class="mdi mdi-comment-text-outline fa-2x"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light px-3 py-0" href="/messages">
                    <i class="mdi mdi-forum-outline fa-2x"></i>
                </a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link waves-effect waves-light px-3 py-0 position-relative" id="notifications" ng-mouseover="displayNotifications($event)">
                    <i class="mdi mdi-bell-outline fa-2x"></i>
                    <span id="notificationCounter" class="badge badge-danger badge-pill font-little">4</span>
                </a>
            </li>
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="userOptions" data-toggle="dropdown" arias-haspopup="true" aria-expanded="false">
                    <img src="<%= client.profile %>" class="rounded-circle z-depth-0 user-avatar" style="width: 40px; height: 40px;">
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="userOptions">
                    <a href="/profile/<%= client._id %>" class="dropdown-item waves-effect">Mon profil</a>
                    <a href="/logout" class="dropdown-item waves-effect waves-light" onclick="window.localStorage.removeItem('tabatabaToken')">Se déconnecter</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div style="margin-top: 60px;"></div>

<div class="d-none" id="notificationContent">
    <a class="d-flex align-items-center px-1 py-1 new">
        <div class="orange-text align-self-end">
            <i class="mdi mdi-alert"></i>
        </div>
        <div class="font-little mx-1">
            <div class="font-weight-bold">Post deleted!</div>
            <div>
                Your post have been deleted because of reason.
            </div>
        </div>
        <img src="/public/images/tests/img2.jpg" class="ml-auto img-fluid profile-img-small">
    </a>
    <a class="d-flex border-top align-items-center px-1 py-1 new">
        <div class="cyan-text align-self-end">
            <i class="mdi mdi-ballot"></i>
        </div>
        <div class="font-little mx-1">
            <div><span class="font-weight-bold">Username</span> posted a photo</div>
            <div>
                Post text.
            </div>
        </div>
        <img src="/public/images/tests/img3.jpg" class="ml-auto img-fluid profile-img-small">
    </a>
    <a class="d-flex border-top align-items-center px-1 py-1 new">
        <div class="light-green-text align-self-end">
            <i class="mdi mdi-comment-check"></i>
        </div>
        <div class="font-little mx-1">
            <div><span class="font-weight-bold">Username</span> commented your post</div>
            <div>
                Comment text.
            </div>
        </div>
        <img src="/public/images/tests/img4.png" class="ml-auto img-fluid profile-img-small">
    </a>
    <a class="d-flex border-top align-items-center px-1 py-1">
        <div class="light-green-text align-self-end">
            <i class="mdi mdi-thumb-up"></i>
        </div>
        <div class="font-little mx-1">
            <div><span class="font-weight-bold">Username and 3 others</span> liked your post</div>
            <div>
                Post text.
            </div>
        </div>
        <img src="/public/images/tests/img5.jpg" class="ml-auto img-fluid profile-img-small">
    </a>
    <a class="d-flex border-top align-items-center px-1 py-1">
        <div class="cyan-text align-self-end">
            <i class="mdi mdi-forum"></i>
        </div>
        <div class="font-little mx-1">
            <div><span class="font-weight-bold">Username</span> answered your question</div>
            <div>
                Question text.
            </div>
        </div>
    </a>
    <a class="d-flex border-top align-items-center px-1 py-1">
        <div class="cyan-text align-self-end">
            <i class="mdi mdi-forum"></i>
        </div>
        <div class="font-little mx-1">
            <div><span class="font-weight-bold">Username</span> commented your question</div>
            <div>
                Question text.
            </div>
        </div>
    </a>
    <a class="d-flex border-top align-items-center px-1 py-1">
        <div class="cyan-text align-self-end">
            <i class="mdi mdi-account-multiple"></i>
        </div>
        <div class="font-little mx-1">
            <div>Your are now member of <span class="font-weight-bold">Group name</span></div>
        </div>
    </a>
    <a class="d-flex border-top align-items-center px-1 py-1">
        <div class="cyan-text align-self-end">
            <i class="mdi mdi-account-multiple"></i>
        </div>
        <div class="font-little mx-1">
            <div><span class="font-weight-bold">Username</span> posted a photo in <span class="font-weight-bold">Group name</span></div>
            <div>
                Post text.
            </div>
        </div>
        <img src="/public/images/tests/img6.jpg" class="profile-img-small ml-auto img-fluid">
    </a>
</div>