<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- things to try -->
    <div class="container">
        <!-- Nav tabs -->
        <div class="tabs-wrapper"> 
            <!-- ceci contient la navigation principale. 2 liens 'cours' et 'exo' -->
            <ul class="nav classic-tabs tabs-cyan" role="tablist">
                <li class="nav-item">
                    <a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab">Cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab">exos</a>
                </li>
            </ul>
        </div>
        
        <!-- Tab panels -->
        <div class="tab-content card">
            <!-- ici se trouve le contenu correspondant au lien dans la navigation principale -->
        
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="panel51" role="tabpanel">
                <!-- ici sera le tableau qui affichera les fichiers cours -->
                <!-- la variable a laquelle faire un foreach est.........$cours -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        
            </div>
            <!--/.Panel 1-->
        
            <!--Panel 2-->
            <div class="tab-pane fade" id="panel52" role="tabpanel">
                    <!-- ici sera le tableau qui affichera les fichiers exo -->
                    <!-- la variable a laquelle faire un foreach est.........$exo -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        
            </div>
            <!--/.Panel 2-->
        
        </div>
    </div>
    <!-- end things to try -->
<script src="/socket.io/socket.io.js"></script>
<script>
    let socket = io();
    socket.on('essai', function(data) {
        console.log(data);
    })
</script>
</html>