<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/compile.css">
    <link rel="stylesheet" type="text/css" href="/public/css/materialdesignicons.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css">
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
		const token = window.localStorage.getItem('tabatabaToken');
		window.localStorage.removeItem('tabatabaToken');
		if(token) window.location.href = '/verify/'+token;
	</script>
  </head>
  <body class="indigo lighten-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 mx-auto my-5">
				<div class="card mt-sm-4">
					<div class="card-body px-5">
						<!-- Login Form -->
						<div class="form-header blue-gradient h4-responsive text-center mb-5 py-3">Connectez-vous ici</div>
						<form method="post" class="my-4">
							<div class="my-3">
								<div class="md-form">
									<i class="fa fa-user-secret prefix" aria-hidden="true"></i>
									<input type="text" name="username" id="login_username" class="form-control" required>
									<label for="login_username" >Votre matricule</label>
								</div>
								<div class="md-form">
									<i class="fa fa-key prefix"></i>
									<input type="password" name="password" id="login_password" class="form-control" required>
									<label for="login_password">Mot de passe</label>
								</div>
							</div>
							<div class="text-center mt-5">
								<button class="btn blue-gradient waves-effect waves-light" type="submit">Se connecter</button>
							</div>
							<div class="text-center">ou</div>
							<div class="text-center">
								<a class="btn btn-link waves-effect waves-effect" href="/subscribe">S'inscrire</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

  	<script src="/public/js/jquery-3.2.1.min.js"></script>
  	<script src="/public/js/popper.min.js"></script>
  	<script src="/public/js/bootstrap.min.js"></script>
  	<script src="/public/js/mdb.min.js"></script>
  	<script src="/public/js/app.min.js"></script>
  	<script src="/public/js/customizer.min.js"></script>
  </body>
</html>
