<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/compile.css">
    <link rel="stylesheet" type="text/css" href="/public/css/materialdesignicons.css">
    <link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container mt-3">
		<div class="form-dark mw-75">
			<form method="post" enctype="multipart/form-data">
				<p class="h4-responsive text-center mb-4">Inscription</p>
				<div class="md-form">
					<div class="file-field">
						<div class="view overlay zoom mx-auto" style="width: 80px;">
							<input type="file" name="avatar">
							<img src="/public/images/avatars/male.jpg" id="avatar" class="rounded-circle" style="width: 80px; height: 80px;">
							<div id="mask" class="mask flex-center waves-effect waves-light">
								<p>Modifier</p>
							</div>
						</div>
					</div>
				</div>
				<div class="md-form">
					<input type="text" name="nom" id="subscribe_nom" class="form-control" required>
					<label for="subscribe_nom">Nom</label>
				</div>
				<div class="md-form">
					<input type="text" name="prenom" id="subscribe_prenom" class="form-control" required>
					<label for="subscribe_prenom">Prenom(s)</label>
				</div>
				<div class="md-form">
					<input type="text" name="matricule" id="subscribe_matricule" class="form-control" required autocomplete="off">
					<label for="subscribe_matricule">Matricule</label>
				</div>
				<div class="md-form">
					<input type="password" name="password" id="subscribe_password" class="form-control" required>
					<label for="subscribe_password">Mot de passe</label>
				</div>
				<div class="md-form">
					<input type="password" id="subscribe_repassword" class="form-control" required>
					<label for="subscribe_repassword">Retaper le mot de passe</label>
				</div>
				<div class="md-form pull-right">
					<button type="reset" class="btn btn-sm blue-grey">Annuler</button>
					<button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Valider</button>
				</div>
			</form>
		</div>
	</div>
  	<script src="/public/js/jquery-3.2.1.min.js"></script>
  	<script src="/public/js/bootstrap.min.js"></script>
  	<script src="/public/js/mdb.min.js"></script>
  	<script src="/public/js/popper.min.js"></script>
  	<script type="text/javascript">
  		$('#mask').on('click', function() {
  			$('input[type="file"]').trigger('click');
  		});

  		$('input[name="avatar"]').change(function() {
  			preview(this);
  		});

  		function preview(input) {
  			if(input.files && input.files[0]) {
  				var reader = new FileReader();
  				reader.onload = function(e) {
  					$('#avatar').attr('src', e.target.result);
  				}
  				reader.readAsDataURL(input.files[0]);
  			}
  		}
  	</script>
</body>
</html>