.content-left {
	position: absolute;
  left: 0px;
  width: 250px;
}
.content-right {
	position: absolute;
  right: 0px;
	width: 250px;
}

.content-left::-webkit-scrollbar {
  display: none;
}

.auto-height {
  margin-left: 250px;
  margin-right: 250px;
}

.pointer {
  cursor: pointer;
}

.profile_img {
	width: 50px;
	height: 50px;
}
.profile-img-small {
  width: 40px;
  height: 40px;
  overflow-y: hidden;
}
.profile-img-little {
  width: 30px;
  height: 30px;
}

.post-img {
  max-height: 250px !important;
  min-height: 250px !important;
  overflow: hidden !important;
}
.post-img-reduced {
  height: 150px;
}

.arrondi {
  border-radius: 3px;
}
.font-little {
  font-size: .7rem;
}
.font-tiny {
  font-size: .5rem;
}
.success-text {
  color: #00c851 !important;
}
.no-transform {
  text-transform: none !important;
}

/*display plain texts with line breaks and indents*/
.plain-text {
  white-space: pre-wrap;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.force-overflow {
	overflow-y: scroll !important;
  overflow-x: hidden;
}

/*video protecting*/
.chat-content .unit_message, .previewContainer {
  transform: none !important;
}

/*scrollbar*/
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #e8eaf6;
}
.scrollbar-primary::-webkit-scrollbar {
  width: 9px;
  background-color: #F5F5F5;
}  
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}

.unread {
  font-weight: bold;
  background-color: #e0e0e0 ;
}

textarea {
  resize: none;
}

.postCommentText::-webkit-scrollbar {
  display: none;
}

#flashMessage {
  display: none;
  font-size: 20px;
  position: fixed;
  bottom: 20%;
  left: 45%;
  border-radius: 30px;
  opacity: 0.65;
}

@media(max-width: 1024px) {
	.profile_img {
		width: 40px;
		height: 40px;
	}
}

/* profile page */
.no-left {
  margin-right: 250px;
}

.back-cover {
  min-height: 250px;
  border-radius: 3px 3px 0px 0px;
}

.profile-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  height: 150px;
  width: 150px;
  overflow-y: hidden;
}

.profile-2nd-nav {
  border-radius: 0 0 .3rem .3rem !important;
}

.tab-content {
  padding-top: 0 !important;
}

.profileTabList {
  height: 180px;
}
/* end profile page */

#questionsContainer {
  width: 39%;
}

/* admin dashboard */
#sideNav {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 100%;
  overflow-y: scroll;
}

.sidenav-avatar {
  width: 40px;
  height: 40px;
}

#sideNav ul li {
  font-size: 25px;
}

#sideNav ul li a:hover {
  border-radius: 55% !important;
  background-color: #37474F;
  color: #ffffff !important;
  padding: 0.5rem !important;
}

.py-4t {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.table-wrapper {
  display: block;
  max-height: 700px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#publications .post-footer {
  position: absolute;
  bottom: 2px;
  left: auto;
  right: auto;
}
/* end admin dashboard */

#postsContainer {
  width: 60%;
}

/* general use */
.font-size-18 {
  font-size: 18px !important;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-25 {
  font-size: 25px;
}
.arrondi-20 {
  border-radius: 20px;
}
.no-border {
  border: none !important;
}

/* remove the carret in dropdown-toggle */
.dropdown-toggle::after {
  display: none !important;
}
/* end general use */

/* preview of posts */
#lightbox {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0, 0, 0.75);
  z-index: 10;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#lightbox #preview {
  display: none;
  width: 73%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.scale {
  animation-name: scale;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}
#about {
  width: 29%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.postImage {
  max-width: 1200px;
  max-height: 700px;
  overflow-y: auto;
}
@keyframes scale {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

/* end preview of posts */

/* notifications */
.popover-body {
  max-height: 350px !important;
  overflow-y: scroll !important;
}
.popover-body::-webkit-scrollbar {
  display: none;
}
#notificationContent .new {
  background-color: rgba(96, 125, 139, 0.3);
}
#notificationContent a:not(.new):hover {
  background-color: rgba(162, 195, 211, 0.3);
}
#notificationCounter {
  position: absolute;
  bottom: 5px;
  right: 15px;
}
/* end notifications */

/* messages */
#blockMessage .conversations {
  position: fixed;
  top: 60px;
  left: 0;
  width: 350px;
}
#blockMessage #wrapper {
  height: 100%;
}
#blockMessage #lister {
  position: fixed;
  top: 108px;
  left: 0;
  width: 350px;
  height: 100%;
  overflow-y: scroll;
}
.hover-it:hover:not(.unread) {
  background-color: rgba(162, 195, 211, 0.3) !important;
}
#blockMessage #messageLister {
  position: fixed;
  top: 60px;
  bottom: 100px;
  left: 350px;
  right: 350px
}
#blockMessage #fixed-starter {
  bottom: 150px;
  right: 390px;
}
#blockMessage #messageComposer {
  position: fixed;
  bottom: 0;
  left: 350px;
  right: 350px;
}
#blockMessage #activeUsers {
  position: fixed;
  top: 60px;
  right: 0;
  width: 350px;
  height: 100%;
}
/* end messages */


/* forum */
.forum-tag {
  padding: 0 .5em !important;
  margin-left: .25rem!important;
  margin-right: .25rem!important;
  background-color: #E1ECF4 !important;
  color: #39739d !important;
  border-color: #E1ECF4 !important;
  border-radius: 2px;
}
/* end forum */

/* searchBar */
.waves-input-wrapper {
  display: block !important;
}
/* end searchBar */