<!-- Header -->
<%- include ../layout/header %>
<!-- ./. Header -->

<body ng-app="chat-app" ng-controller="MessageController" class="indigo lighten-5">

    <!-- Laptop view-->
    <!--Navbar-->
    <%- include ../includes/navbar %>
    <!--/.Navbar-->
    
    <main id="blockMessage">
        <div id="wrapper" class="border border-right p-1 conversations">
            <div id="starter" class="d-flex align-items-center justify-content-center border border-bottom conversations">
                <button class="btn py-1 btn-primary" title="Nouveau message" ng-click="createMessage()"><i class="mdi mdi-account-plus font-size-18"></i></button>
                <button class="btn py-1 btn-primary" title="Nouveau groupe" ng-click="createGroup()"><i class="mdi mdi-account-multiple font-size-18"></i></button>
            </div>
            <div id="lister" class="border border-top scrollbar-hidden">
                <div ng-if="objectLength(conversations) > 0">
                    <div class="conversation-unit hover-it d-flex align-items-center p-2 border-bottom border-top pointer" id="conversation-{{conversation._id}}" ng-click="selectRoom(conversation._id)" ng-class="{'unread': conversation.last_message.etat == 0 && conversation.last_message.sender._id != user._id}" ng-repeat="conversation in conversations" ng-cloak>
                        <div class="text-right">
                            <img ng-src={{conversation.titles[user._id].image}} class="profile_img rounded-circle" ng-if="conversation.type == 1" ng-cloak>
                            <img ng-src={{conversation.image}} class="profile_img rounded-circle" ng-if="conversation.type == 2" ng-cloak>
                        </div>
                        <div class="ml-2 text-nowrap text-truncate">
                            <div class="black-text font-size-18 text-nowrap text-truncate" ng-if="conversation.type == 1" ng-cloak>{{ conversation.titles[user._id].title }}</div>
                            <div class="black-text font-size-18 text-nowrap text-truncate" ng-if="conversation.type == 2" ng-cloak>{{ conversation.titles[user._id] }}</div>
                            <div class="text-muted text-nowrap text-truncate">{{ conversation.last_message.content }}</div>
                            <div class="text-right text-muted font-little">{{ conversation.date }}</div>
                        </div>
                    </div>
                </div>
                <p class="text-muted font-size-18 mt-5 text-center" ng-if="objectLength(conversations) == 0">
                    Aucune conversation. <br>
                </p>
            </div>
        </div>
        <div id="messageLister" class="border-left border-right px-1 d-flex flex-column" ng-class='{"align-items-center justify-content-center": !room, "white border-bottom": room}'>
            <p class="text-muted font-size-18" ng-if="!room">
                Aucune conversation sélectionnée.
            </p>
            <div class="fixed-action-btn" id="fixed-starter" ng-if="!room">
                <a class="btn-floating btn-lg primary-color" title="Démarrer une nouvelle conversation">
                    <i class="mdi mdi-plus"></i>
                </a>
            
                <ul class="list-unstyled">
                    <li><a class="btn-floating primary-color" title="Nouveau message" ng-click="createMessage()"><i class="mdi mdi-account-plus font-size-18"></i></a></li>
                    <li><a class="btn-floating primary-color" title="Nouveau groupe" ng-click="createGroup()"><i class="mdi mdi-account-multiple font-size-18"></i></a></li>
                </ul>
            </div>
            <div class="mt-auto d-flex flex-column" ng-if="room" ng-cloak>
                <div class="d-flex mb-1 align-items-center" ng-repeat="message in messages" id="message-{{message._id}}" ng-class="{'align-self-end':message.sender._id == user._id,'align-self-start':message.sender._id != user._id}">
                    <span class="mx-1 font-tiny" ng-if="message.sender._id == user._id && message.etat == 1" ng-cloak><i class="mdi mdi-check-all"></i></span>
                    <img ng-src={{message.sender.profile}} class="rounded-circle mx-1" style="width:20px; height:20px;" ng-if="message.sender._id != user._id" ng-cloak>
                    <div class="text-wrap  px-3 py-1 " ng-class="{'primary-color white-text rounded-left':message.sender._id == user._id,'grey lighten-2 black-text rounded-right':message.sender._id != user._id}">{{ message.content }}</div>
                </div>
            </div>
        </div>
        <div id="messageComposer" class="d-flex align-items-center justify-content-between px-3 py-0 grey lighten-2" ng-if="room" ng-cloak>
            <div class="text-center">
                <a title="Envoyer un fichier" class="black-text px-3 py-1"><i class="fa fa-file-o fa-3x"></i></a>
            </div>
            <div class="w-75 pt-1">
                <textarea id="composer" rows="3" class="form-control" ng-keypress="messageKeypress($event)"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary no-transform py-1">Envoyer</button>
            </div>
        </div>
        <div id="activeUsers" class="my-1">
            <div class="border-top border-bottom py-1 px-2 d-flex align-items-center pointer hover-it" ng-click="contact(active.user)" ng-repeat="active in activeUsers" id="{{ active._id }}" ng-cloak>
                <div class="profile-img-small"><img ng-src={{active.user.profile}} class="img-fluid rounded-circle"></div>
                <div class="text-nowrap text-truncate text-muted mx-1">{{ active.user.username }}</div>
            </div>
        </div>
    </main>

    <!-- Modals -->
    <div class="modal fade" id="createMessageModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Démarrer une nouvelle conversation
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form">
                        <input type="text" id="userFilter" ng-model="userFilter" class="form-control">
                        <label for="userFilter">Rechercher un utilisateur</label>
                    </div>
                    <div class="d-flex align-items-center hoverable p-2 pointer" ng-click="privateMessage(item)" ng-repeat="item in users | filter: userFilter">
                        <div class="text-right"><img ng-src={{item.profile}} alt="avatar" class="profile_img rounded-circle"></div>
                        <div class="text-muted ml-3">{{ item.username }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="createGroupModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Démarrer une nouvelle conversation de groupe
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="md-form">
                        <input type="text" id="groupFilter" ng-model="groupFilter" class="form-control">
                        <label for="groupFilter">Rechercher un utilisateur</label>
                    </div>
                    <div class="p-2 pointer hover-it" ng-repeat="item in users | filter: groupFilter">
                        <div class="form-check">
                            <input type="checkbox" id="item-{{item._id}}" ng-model="groupItems[item._id]" class="filled-in form-check-input">
                            <label class="form-check-label" for="item-{{item._id}}">
                                <div class="d-flex align-items-center">
                                    <div class="text-right"><img ng-src={{item.profile}} alt="avatar" class="profile-img-small rounded-circle"></div>
                                    <div class="text-muted ml-3">{{ item.username }}</div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-flat border py-1 font-little">Annuler</button>
                    <button class="btn btn-info py-1 font-little" ng-click="groupMessage()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ./. Modals -->

<!-- Scripts -->
<%- include ../layout/scripts %>
<!-- ./. Scripts -->

<script src="/siofu/client.js"></script>
<script type="text/javascript">
const socket = io();
const client = <%- JSON.stringify(client) %>;
</script>
</body>
</html>