<!-- Header -->
<%- include ../layout/header %>
<!-- ./. Header -->

<body class="indigo lighten-5">
    <!-- Navbar -->
    <%- include ../includes/navbar %>
    <!-- ./. Navbar -->

    <main class="container py-2">
        <div class="px-1">
            <h4 class="h4-responsive font-weight-bold">Poser votre question</h4>
        </div>
        <div class="row">
            <section class="col-8">
                <form>
                    <div class="form-group">
                        <label for="questionTitle" class="font-weight-bold">Titre</label>
                        <input type="text" id="questionTitle" class="form-control" placeholder="Quel est le votre question? Soyez spécifique">
                    </div>
                    <div class="form-group">
                        <label for="questionContent" class="font-weight-bold">Contenu</label>
                        <textarea id="questionContent" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="questionTags" class="font-weight-bold">Tags</label>
                        <input type="text" class="form-control" id="questionTags" placeholder="ex: audiovisuel video">
                    </div>
                    <div class="form-group px-3">
                        <button class="btn btn-primary btn-sm arrondi">Poster la question</button>
                    </div>
                </form>
            </section>
            <section class="col-4">
                <div class="card amber lighten-5">
                    <div class="card-header">
                        <h6 class="font-weight-bold">
                            Comment poser une question
                        </h4>
                    </div>
                    <div class="card-body">
                        Some texts and rules
                    </div>
                </div>
            </section>
        </div>
    </main>

    <!-- Scripts -->
    <%- include ../layout/scripts %>
    <!-- ./. Scripts -->
</body>
</html>