<!-- Header -->
<%- include ../layout/header %>
<!-- ./. Header -->

<body class="indigo lighten-5">
    
    <!-- Navbar -->
    <%- include ../includes/navbar %>
    <!-- ./. Navbar -->

    <main class="container">
        <section class="py-2 d-flex align-items-center">
            <div class="mx-1">
                <img src="<%= client.profile %>" alt="avatar" style="height: 80px; width: 80px;" class="z-depth-1">
            </div>
            <div class="ml-2 py-2 d-flex text-muted text-center">
                <div class="mx-2">
                    <div class="mb-1">Question</div>
                    <div class="d-flex">
                        <div class="mx-2 font-small">
                            <i class="fa fa-circle font-tiny grey-text"></i> 12
                        </div>
                        <div class="font-small">
                            <i class="fa fa-circle font-tiny success-text"></i> 1
                        </div>
                    </div>
                </div>
                <div class="mx-2">
                    <div class="mb-1">Réponses</div>
                    <div class="d-flex">
                        <div class="mx-2 font-small">
                            <i class="fa fa-circle font-tiny grey-text"></i> 2
                        </div>
                        <div class="font-small">
                            <i class="fa fa-circle font-tiny success-text"></i> 1
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-auto mr-2">
                <a href="/forum/ask" class="btn btn-primary btn-sm font-normal" style="text-transform: none !important;">Poser un question</a>
            </div>
        </section>
        <section class="row">
            <div class="col-md-9">
                <!-- Nav tabs -->
                <div class="tabs-wrapper"> 
                    <ul class="nav classic-tabs tabs-primary" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link waves-light active" data-toggle="tab" href="#questionsList" role="tab">Questions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" data-toggle="tab" href="#userForum" role="tab">activité</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-light" data-toggle="tab" href="#tagsForum" role="tab">Tags</a>
                        </li>
                    </ul>
                </div>
                
                <!-- Tab panels -->
                <div class="tab-content card">
                
                    <!--Panel 1-->
                    <div class="tab-pane fade in show active mt-3" id="questionsList" role="tabpanel">
                        <div class="d-flex align-items-center indigo lighten-5 border-bottom py-2 px-1">
                            <div class="p-2 text-center success-color arrondi mx-1 border">
                                <div>3</div>
                                <div class="font-little">réponses</div>
                            </div>
                            <div class="p-2 text-center arrondi mx-1 border">
                                <div>0</div>
                                <div class="font-little">vues</div>
                            </div>
                            <div class="px-1 mx-2">
                                <div>
                                    <a href="#">Comment faire une requête avec mutiple else?</a>
                                </div>
                                <div>
                                    <a href="#" class="forum-tag font-small">web</a>
                                    <a href="#" class="forum-tag font-small">codeigniter</a>
                                    <a href="#" class="forum-tag font-small">MySQL</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center py-2 px-1 border-bottom">
                            <div class="p-2 text-center arrondi mx-1 border">
                                <div>0</div>
                                <div class="font-little">réponses</div>
                            </div>
                            <div class="p-2 text-center arrondi mx-1 border">
                                <div>0</div>
                                <div class="font-little">vues</div>
                            </div>
                            <div class="px-1 mx-2">
                                <div>
                                    <a href="#">Quels moments importants à photographier dans un marriage?</a>
                                </div>
                                <div>
                                    <a href="#" class="forum-tag font-small">audiovisuel</a>
                                    <a href="#" class="forum-tag font-small">photographie</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center indigo lighten-5 py-2 px-1">
                            <div class="p-2 text-center arrondi mx-1 border border-success">
                                <div>1</div>
                                <div class="font-little">réponses</div>
                            </div>
                            <div class="p-2 text-center arrondi mx-1 border">
                                <div>0</div>
                                <div class="font-little">vues</div>
                            </div>
                            <div class="px-1 mx-2">
                                <div>
                                    <a href="#">Photographier une sortie de promotion</a>
                                </div>
                                <div>
                                    <a href="#" class="forum-tag font-small">audiovisuel</a>
                                    <a href="#" class="forum-tag font-small">photographie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Panel 1-->
                
                    <!--Panel 2-->
                    <div class="tab-pane fade mt-3" id="userForum" role="tabpanel">
                        <div class="row">
                            <div class="col-6">
                                <div class="border-bottom font-weight-bold"><div class="card-title">Questions</div></div>
                                <div class="d-flex align-items-center py-2 px-1">
                                    <div class="px-3 text-center arrondi border border-success">1</div>
                                    <div class="px-1 mx-2">
                                        <div>
                                            <a href="#">Photographier une sortie de promotion</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-2 px-1">
                                    <div class="px-3 text-center arrondi border border-success">1</div>
                                    <div class="px-1 mx-2">
                                        <div>
                                            <a href="#">Photographier une sortie de promotion</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-2 px-1">
                                    <div class="px-3 text-center arrondi border border-success">1</div>
                                    <div class="px-1 mx-2">
                                        <div>
                                            <a href="#">Photographier une sortie de promotion</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="border-bottom font-weight-bold"><div class="card-title">Réponses</div></div>
                                <div class="d-flex align-items-center py-2 px-1">
                                    <div class="px-3 text-center arrondi border border-success">1</div>
                                    <div class="px-1 mx-2">       
                                        <div>
                                            <a href="#">Photographier une sortie de promotion</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-2 px-1">
                                    <div class="px-3 text-center arrondi border border-success">1</div>
                                    <div class="px-1 mx-2">
                                        <div>
                                            <a href="#">Photographier une sortie de promotion</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-2 px-1">
                                    <div class="px-3 text-center arrondi border border-success">1</div>
                                    <div class="px-1 mx-2">
                                        <div>
                                            <a href="#">Photographier une sortie de promotion</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-1">
                            <div class="border-bottom font-weight-bold"><div class="card-title">Top tags</div></div>
                        </div>
                    </div>
                    <!--/.Panel 2-->
                
                    <!--Panel 3-->
                    <div class="tab-pane fade mt-3" id="tagsForum" role="tabpanel">

                    </div>
                    <!--/.Panel 3-->                
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between p-2">
                        <div class="card-title m-0">Tags suivis</div>
                        <a href="#" class="text-muted">Editer <i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="card-body">
                        <span class="forum-tag">web</span>
                        <span class="forum-tag">javascript</span>
                        <span class="forum-tag">java</span>
                        <span class="forum-tag">angular</span>
                        <span class="forum-tag">jquery</span>
                        <span class="forum-tag">audiovisuel</span>
                    </div>
                </div>
            </div>
        </section>
    </main>

<!-- Scripts -->
<%- include ../layout/scripts %>
<!-- ./. Scripts -->

</body>
</html>