<div class="tab-pane fade in show active" id="location" role="tabpanel">
    <div class="card mb-1">
        <div class="card-header">Coordonnées</div>
        <div class="grey-text card-body">
            <div class="row py-3 grey-text">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <div class="text-muted" ng-if="visited.adress" ng-cloak>
                            <span>{{ visited.adress }}</span>&nbsp;
                            <div ng-if="clientId == visited._id" class="pull-right">
                                <a class="pointer blue-text" title="Editer" ng-click="startEdit($event)">
                                    <i class="fa fa-edit"></i> <span class="d-sm-none">Modifier</span>
                                </a>
                            </div>
                        </div>
                        <div class="grey lighten-4 pt-2 grey-text text-center" ng-if="!visited.adress" ng-cloak>
                            <div>Aucun</div>
                            <button class="btn btn-sm grey lighten-1 editor" ng-if="clientId == visited._id">Ajouter une adresse</button>
                        </div>
                        <form novalidate name="adressForm" id="adressForm" class="editContainer" style="display: none;">
                            <input ng-model="adress" name="adress" type="text" id="adress" class="form-control" required>
                            <div class="text-right">
                                <button class="btn btn-sm btn-blue-grey canceler"><i class="fa fa-close"></i></button>
                                <button class="btn btn-primary btn-sm saver" ng-disabled="adressValidate(adressForm)"><i class="fa fa-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="telephone">Téléphone</label>
                        <div class="text-muted" ng-if="visited.phone" ng-cloak>
                            <span>{{ visited.phone }}</span>&nbsp;
                            <div ng-if="clientId == visited._id" class="pull-right">
                                <a class="pointer blue-text" title="Editer" ng-click="startEdit($event)">
                                    <i class="fa fa-edit"></i> <span class="d-sm-none">Modifier</span>
                                </a>
                            </div>
                        </div>
                        <div class="grey lighten-4 pt-2 grey-text text-center" ng-if="!visited.phone" ng-cloak>
                            <div>Aucun</div>
                            <button class="btn btn-sm grey lighten-1 editor" ng-if="clientId == visited._id">Ajouter une numéro</button>
                        </div>
                        <form novalidate name="phoneForm" class="editContainer" style="display: none;">
                            <input name="phone" ng-model="phone" type="text" id="phone" class="form-control" required>
                            <div class="text-right">
                                <button class="btn btn-sm btn-blue-grey canceler"><i class="fa fa-close"></i></button>
                                <button class="btn btn-primary btn-sm saver" ng-disabled="phoneValidate(phoneForm)"><i class="fa fa-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <div class="text-muted" ng-if="visited.email" ng-cloak>
                            <span>{{ visited.email }}</span>&nbsp;
                            <div ng-if="clientId == visited._id" class="pull-right">
                                <a class="pointer blue-text" title="Editer" ng-click="startEdit($event)">
                                    <i class="fa fa-edit"></i> <span class="d-sm-none">Modifier</span>
                                </a>
                            </div>
                        </div>
                        <div class="grey lighten-4 pt-2 grey-text text-center" ng-if="!visited.email" ng-cloak>
                            <div>Aucun</div>
                            <button class="btn btn-sm grey lighten-1 editor" ng-if="clientId == visited._id">Ajouter une adresse éléctronique</button>
                        </div>
                        <form novalidate name="emailForm" class="editContainer" style="display: none;">
                            <input name="email" ng-model="email" type="email" id="email" class="form-control" required>
                            <div class="text-right">
                                <button class="btn btn-sm btn-blue-grey canceler"><i class="fa fa-close"></i></button>
                                <button class="btn btn-primary btn-sm saver" ng-disabled="emailValidate(emailForm)"><i class="fa fa-save"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-1">
        <div class="card-header">Scolarité</div>
        <div class="grey-text card-body">
            <div class="row text-center">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Classe actuelle</label>
                        <div class="p-1 text-muted">{{ visited.classe }}</div>
                    </div>
                </div>
                <div class="col-sm-6" ng-repeat="school in visited.scolar">
                    <div class="form-group">
                        <label>{{ school.year }}</label>
                        <div class="p-1 text-muted">{{ school.name }}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <form novalidate id="schoolForm" name="schoolForm" class="text-left row" style="display: none;">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="schoolYear">Année</label>
                                <input ng-model="schoolForm.year" id="schoolYear" title="L'année de votre entrée dans l'établissement" name="schoolYear" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Nom de l'établissement</label>
                                <input ng-model="schoolForm.name" id="schoolName" title="Nom complet de l'établissement" name="schoolName" type="text" class="form-control" required>
                            </div>
                            <div class="form-group pull-right">
                                <button class="btn btn-blue-grey btn-sm" type="reset" ng-click="resetSchool($event)"><i class="fa fa-close"></i></button>
                                <button class="btn btn-primary btn-sm" type="button" ng-disabled="schoolValidate(schoolForm)" ng-click="saveSchool($event)"><i class="fa fa-save"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="form-group waves-effect waves-dark py-2 grey lighten-3" ng-click="startAddSchool($event)" ng-if="clientId == visited._id">
                        <i class="mdi mdi-plus fa-2x align-middle"></i> <span class="align-middle">Ajouter un établissement</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-1">
        <div class="card-header">Informations supplémentaires</div>
        <div class="grey-text card-body row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="facebook">Facebook</label>
                    <button class="btn btn-sm btn-primary mx-auto d-block">Ajouter un compte facebook</button>
                </div>
            </div>
        </div>
    </div>
</div>