<div class="tab-pane fade" id="materiels" role="tabpanel">
    <div class="text-center py-3">
        <div class="row" ng-if="hasMaterials()">
            <div class="col-sm-6" ng-repeat="material in materials" ng-cloak>
                <div class="row text-muted">
                    <div class="col-sm-3 text-right"><i class="{{material.icon}} fa-3x"></i></div>
                    <div class="col-sm-7 py-2 text-left">
                        <strong>{{material.brand}} {{material.model}}</strong><br/>
                        <span>Couleur: {{material.color}}</span>
                    </div>
                    <div class="col-sm-2" ng-if="clientId == visited">
                        <i class="mdi mdi-delete pointer blue-text" ng-click="confirmDeleteMaterial(material)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="holder">
            <div class="grey-text" ng-if="visited.materials.length == 0">Aucun matériel/équipement enregistré</div>
            <div class="d-inline-block grey-text mt-2 px-3 grey lighten-3 waves-effect waves-dark" ng-click="startAddMaterial($event)" ng-if="clientId == visited._id">
                <i class="mdi mdi-plus fa-2x align-middle"></i> 
                <span class="align-middle">Ajouter un matériel</span>
            </div>
        </div>
        <form novalidate name="materialForm" class="text-left px-3" style="display: none;">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Type</label>
                    <select name="type" id="materialType" ng-model="type" class="browser-default form-control" required>
                        <option value="" disabled selected>Choisir le type d'équipement</option>
                        <option value="1">Laptop</option>
                        <option value="2">Matériel de photographie/vidéo</option>
                        <option value="3">Autre</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Marque</label>
                    <input type="text" name="brand" id="materialBrand" ng-model="brand" class="form-control" required>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Modèle</label>
                    <input type="text" name="model" ng-model="model" id="materialModel" class="form-control" required>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Couleur</label>
                    <input type="text" name="color" ng-model="color" id="materialColor" class="form-control" required>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Distinction particulière</label>
                    <textarea name="mark" id="materialMark" ng-model="mark" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="text-right">
                    <button class="btn btn-sm btn-blue-grey" type="reset" ng-click="resetMaterial(materialForm)"><i class="fa fa-close"></i></button>
                    <button class="btn btn-primary btn-sm" ng-disabled="materialValidate(materialForm)" ng-click="saveMaterial(materialForm)"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="materialDeletionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                Souhaitez-vous réellement retirer <strong>{{materialToDelete.brand+' '+materialToDelete.model}}</strong> de votre liste de matériels?<br/>
                <strong class="text-danger mt-1">Cette action est irréversible.</strong>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat btn-sm" ng-click="cancelDeleteMaterial()">Annuler</button>
                    <button class="btn btn-primary btn-sm" ng-click="deleteMaterial()">Suivant</button>
                </div>
            </div>
        </div>
    </div>
</div>