<div id="dashboard">
    <div class="mb-2">
        <div class="font-weight-bold ml-1" style="font-size: 25px;">Overview</div>
        <nav class="breadcrumb">
            <a href="#!/" class="breadcrumb-item"><i class="mdi mdi-home"></i></a>
            <a href="#!/" class="breadcrumb-item">Tableau de bord</a>
            <a href="#!/" class="breadcrumb-item active">Overview</a>
        </nav>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>