
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/mdb.min.js"></script>
<script src="/public/js/app.min.js"></script>
<script src="/public/js/customizer.min.js"></script>
<script src="/public/js/moment-with-locales.js"></script>
<script src="/public/js/angular.js"></script>
<script src="/public/modules/message.js"></script>
<script src="/public/modules/posts.js"></script>
<script src="/public/modules/profile.js"></script>
<script src="/public/modules/notifications.js"></script>
<script src="/public/modules/starter.js"></script>