
<div class="modal fade" role="dialog" id="deletionModal">
    <div class="modal-dialog modal-notify modal-danger modal-dialog-centered" role="document">
        <div class="modal-content">
                <div class="modal-header white-text">
                    Supprimer cette publication?
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body text-center text-danger">
                Souhaitez-vous supprimer cette publication?<br>
                Cette action est irréversible.
            </div>
            <input type="hidden" id="postToDelete">
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-flat btn-sm border no-transform" ng-click="cancelDeletion()">Annuler</button>
                    <button class="btn btn-danger btn-sm no-transform" ng-click="deletePost()">Suivant</button>
                </div>
            </div>
        </div>
    </div>
</div>