<!-- Header -->
<%- include ../layout/header %>
<!-- ./. Header -->

<body ng-app="chat-app" ng-controller="PostsController" class="indigo lighten-5 scrollbar scrollbar-hidden">
    <!-- Laptop view-->
    <div class="d-none d-sm-block position-relative container">
        <!--Navbar-->
        <% include ../includes/navbar %>
        <!--/.Navbar-->

        <!-- asides -->
        <aside class="content-left border-right border-light rounded-right px-1">
        	<% include mini-profile %>
        </aside>

        <aside class="content-right border-left border-light rounded-left mx-0">
        	
        </aside>
        <!-- end asides -->

        <!-- Core -->
        <div class="auto-height pt-1" style="position: relative">
            <%- include posts %>
        </div>
        <!-- end Core -->
    </div>  

    <!-- Da hidden failu inputu -->
    <form enctype="multipart/form-data" id="posterForm">
        <input type="file" id="posterInput" name="posterInput" multiple="multiple" style="display: none;">
    </form>

    <!-- end ofu Da hidden failu inputu -->

    <!-- innerBlack -->
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; background-color: rgba(0,0,0,0.75); display: none;" id="innerBlack"></div>
    <!-- end innerBlack -->

    <!-- flash Message -->
    <div class="elegant-color text-center text-white px-3" id="flashMessage">iciciciccici</div>
    <!-- end flash Message -->

<!-- Scripts -->
<%- include ../layout/scripts %>
<!-- ./. Scripts -->

<script type="text/javascript">
    const client_id = '<%= client._id %>';
    window.localStorage.setItem('tabatabaToken', '<%= token %>');

	const socket = io();
</script>
</body>
</html>