<div id="lightbox">
    <span class="pull-right white-text mr-3 mt-2 pointer" id="close"><i class="fa fa-close fa-2x"></i></span>
    <div class="d-flex mt-5">
        <div id="preview" class="text-center p-2">
            <img class="postImage">
        </div>
        <div id="about" class="rounded-top rounded-bottom white mr-2 p-2 align-self-stretch">
            <div class="pl-3 d-flex align-items-center justify-content-between">
                <img ng-src={{postToPreview.sender.profile}} class="rounded-circle profile_img">
                <a class="font-weight-bold ml-2 black-text mr-auto" href="/profile/{{postToPreview.sender._id}}">{{ postToPreview.sender.username }}</a>
                
                <div class="dropdown">
                    <button class="btn btn-rounded btn-flat dropdown-toggle px-3" type="button" id="dropdown-{{postToPreview._id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdown-{{postToPreview._id}}">
                        <a href="" class="dropdown-item" ng-if="postToPreview.sender._id == clientId">Modifier</a>
                        <a href="" class="dropdown-item" ng-if="postToPreview.sender._id != clientId">Enregistrer</a>
                        <a href="" ng-click="confirmSignal(postToPreview._id)" class="dropdown-item" ng-if="postToPreview.sender._id != clientId">Signaler</a>
                        <a href="" ng-click="confirmDelete(postToPreview._id)" class="dropdown-item" ng-if="postToPreview.sender._id == clientId">Supprimer</a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-2 border rounded-bottom rounded-top mdb-color lighten-3 white-text">
                <ul class="list-unstyled list-inline font-small mb-0">
                    <li class="list-inline-item p-2"><i class="fa fa-clock-o pr-1"></i> {{ postToPreview.date }}</li>
                    <li class="list-inline-item p-2">
                        <a class="d-inline like" ng-click="like(postToPreview._id)">
                            <i class="mdi mdi-thumb-up pr-1" ng-class="{'blue-text': postToPreview.likes.includes(clientId)}"></i> 
                            <span ng-show="postToPreview.likes.length > 0">{{ postToPreview.likes.length }}</span>
                        </a>
                    </li>
                    <li class="list-inline-item p-2">
                        <div class="d-inline">
                            <i class="mdi mdi-comment pr-1"></i> 
                            <span ng-show="postToPreview.comments.length > 0">{{ postToPreview.comments.length }}</span>
                        </div>
                    </li>
                    <li class="list-inline-item p-2">
                        <div class="d-inline">
                            <i class="mdi mdi-share-variant pr-1"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="comment-lister my-1 d-flex flex-column" ng-if="postToPreview.comments.length > 0">
                <div ng-repeat="comment in postToPreview.comments" class="d-flex border-bottom py-1" ng-class="{'no-border': $last}">
                    <img ng-src={{comment.sender.profile}} class="profile_img rounded-circle">
                    <div class="ml-2">
                        <a href="/profile/{{comment.sender._id}}" class="black-text font-weight-bold">{{ comment.sender.username }}</a>
                        <div class="text-muted plain-text">{{ comment.content }}</div>
                    </div>
                </div>
            </div>
            <div class="comment-container m-2 p-2 d-flex border rounded-bottom rounded-top">
                <img src=<%= client.profile %> class="profile_img rounded-circle">
                <div class="ml-2">
                    <div class="font-weight-bold"><%= client.username %></div>
                    <div class="form-inline">
                        <div class="input-group">
                            <textarea class="form-control arrondi" ng-model="comment.text" rows="1" placeholder="Commenter..."></textarea>
                            <a class="input-group-append">
                                <span class="input-group-text"><i class="mdi mdi-camera"></i></span>
                            </a>
                        </div>
                        <button class="btn btn-primary btn-sm px-2" ng-click="submitComment(postToPreview._id)">Commenter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>