<!-- Card -->
<div class="card testimonial-card">

    <!-- Bacground color -->
    <div class="card-up blue-gradient"></div>

    <!-- Avatar -->
    <div class="avatar mx-auto white">
        <img src="<%= client.profile %>" class="rounded-circle">
    </div>

    <div class="card-body">
        <!-- Name -->
        <h4 class="card-title h4-responsive"><a href="/profile/<%= client._id %>" class="black-text"><%= client.username %></a></h4>
        <hr>
        <!-- Quotation -->
        <div class="text-center">
            <a href="/profile/<%= client._id %>" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Modifier le profil</a>
        </div>
    </div>

</div>
<!-- Card -->