<div class="poster border-bottom border-light p-1 arrondi white waves-effect waves-light" ng-if="ProfileController.user._id == ProfileController.visited._id" ng-cloak>
    <div class="row text-center mb-1 border-bottom border-light pb-1">
        <div class="col-sm-2">
            <img src="<%= client.profile %>" class="rounded-circle z-depth-1 waves-effect waves-dark user-avatar" style="width: 50px; height: 50px;">
        </div>
        <div class="col-sm-10">
            <textarea class="form-control rounded-0" rows="2" placeholder="Publier quelque chose..." title="Publier quelque chose..."
                ng-model="posterText" id="posterText" ng-focus="beginPost()"></textarea>
        </div>
    </div>
    <div class="row text-center border-light" ng-class="{'border-bottom': action == 1}" ng-show="files == 0">
        <div class="col-sm-4 border-right border-light">
            <a href="#" class="nav-item waves-effect waves-dark d-block mx-0 black-text" title="Ajouter une image"
                ng-click="startPost('image/*')" data-turbolink="false">
                <i class="mdi mdi-file-image"></i>
            </a>
        </div>
        <div class="col-sm-4 border-right border-light">
            <a href="#" class="waves-effect waves-dark nav-item d-block mx-0 black-text" title="Ajouter une vidéo"
                ng-click="startPost('video/*')" data-turbolink="false">
                <i class="fa fa-video-camera"></i>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="waves-effect waves-dark nav-item d-block mx-0 black-text" title="Ajouter un fichier"
                ng-click="startPost()" data-turbolink="false">
                <i class="fa fa-file"></i>
            </a>
        </div>
    </div>
    <div class="postPreviews row border-bottom border-light mb-1" ng-show="files > 0" ng-cloak>
        <div class="col-sm-3">
            <div id="postAppender" title="Ajouter un fichier" style="height: 80px; width: 60px;" class="text-center border border-light purple lighten-5">
                <i class="fa fa-plus grey-text fa-2x" style="margin-top: 25px;"></i>
            </div>
        </div>
    </div>
    <div class="pull-right" ng-show="action == 1" ng-cloak>
        <button class="btn btn-flat btn-sm" ng-click="cancelPost()">Annuler</button>
        <button class="btn btn-primary btn-sm" ng-click="submitPost()" id="posterSubmit" ng-disabled="postStatus()"><i
                class="fa fa-edit"></i> Publier</button>
    </div>
</div>

<div class="postLister">
    <div class="card my-2 white" ng-repeat="post in posts" id="post-{{ post._id }}"ng-cloak >
        <div class="card-header">
            <div class="d-flex align-items-center mb-1">
                <img ng-src={{post.sender.profile}} alt="avatar" class="rounded-circle" style="width: 60px; height: 60px;" ng-class="{'user-avatar': post.sender._id != clientId}">
                <div class="ml-2">
                    <a href="/profile/{{ post.sender._id }}" class="black-text" ng-if="post.type == 1">{{ post.sender.username }}</a>
                    <div class="black-text" ng-if="post.type == 2"><a href="/profile/{{ post.sender._id }}" class="black-text">{{ post.sender.username }}</a> <span class="text-muted">a partagé la publication de </span> <a href="/profile/{{ post.original.sender._id }}" class="black-text">{{ post.original.sender.username }}</a></div>
                    <div class="text-muted" data-time="post.created_at">{{ post.date }}</div>
                </div>
                <div class="dropdown ml-auto">
                    <button class="btn btn-rounded btn-flat px-4 dropdown-toggle" data-toggle="dropdown" id="dropdown-{{post._id}}"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-dots-vertical font-size-18"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item" ng-if="post.sender._id == clientId">Modifier</a>
                        <a href="" class="dropdown-item" ng-if="post.sender._id != clientId">Enregistrer</a>
                        <a href="" ng-click="confirmSignal(post._id)" class="dropdown-item" ng-if="post.sender._id != clientId">Signaler</a>
                        <a href="" ng-click="confirmDelete(post._id)" class="dropdown-item" ng-if="post.sender._id == clientId">Supprimer</a>
                    </div>
                </div>
            </div>
            <div class="d-flex text-wrap">
                <span class="px-2 cyan-text" ng-repeat="tag in post.tags">#{{ tag.libelle }}</span>
            </div>
        </div>
        <div class="card-body">
            <div ng-if="post.type == 1">
                <div class="px-2 plain-text" ng-if="post.content">{{ post.content }}</div>
                <div class="mx-2 p-1 text-center position-relative" ng-if="post.attachments.length > 0" style="height: 250px; overflow-y: hidden;" ng-class="{'border rounded-bottom rounded-top':post.attachments[0].type == 4}">
                    <div class="view overlay" ng-if="post.attachments[0].type == 1">
                        <img ng-src={{post.attachments[0].src}} class="img-fluid">
                        <a ng-click="postPreview(post)" class="mask d-block flex-center rgba-blue-slight"></a>
                    </div>
                    <audio ng-src={{post.attachments[0].src}} controls class="w-100" style="margin-top:100px;" ng-if="post.attachments[0].type == 2"></audio>
                    <video ng-src={{post.attachments[0].src}} width="100%" height="250" controls ng-if="post.attachments[0].type == 3"></video>
                    <div class="w-100 text-center grey lighten-5 py-5" ng-if="post.attachments[0].type==4">
                        <i class="fa fa-file-o fa-5x black-text"></i>
                        <div class="font-weight-bold text-center py-2 grey lighten-1 w-100" style="position:absolute;bottom:0;left:0;">
                            <a href="{{ post.attachments[0].src }}" class="black-text" download><i class="fa fa-download"></i> {{post.attachments[0].originalName}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" ng-if="post.type == 2">
                <div class="card-header">
                    <div class="d-flex align-items-center mb-1">
                        <img ng-src={{post.original.sender.profile}} alt="avatar" class="rounded-circle" style="width: 60px; height: 60px;" ng-class="{'user-avatar': post.original.sender._id != clientId}">
                        <div class="ml-2">
                            <a href="/profile/{{ post.original.sender._id }}" class="black-text">{{ post.original.sender.username }}</a>
                            <div class="text-muted" data-time="post.original.created_at">{{ post.original.date }}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="px-2 plain-text" ng-if="post.original.content">{{ post.original.content }}</div>
                    <div class="mx-2 p-1 text-center position-relative" ng-if="post.original.attachments.length > 0" style="height: 250px; overflow-y: hidden;" ng-class="{'border rounded-bottom rounded-top':post.attachments[0].type == 4}">
                        <div class="view overlay" ng-if="post.original.attachments[0].type == 1">
                            <img ng-src={{post.original.attachments[0].src}} class="img-fluid" style="overflow-y:hidden !important;">
                            <a ng-click="postPreview(post.original)" class="mask d-block rgba-blue-slight"></a>
                        </div>
                        <audio ng-src={{post.original.attachments[0].src}} controls class="w-100" style="margin-top:100px;" ng-if="post.original.attachments[0].type == 2"></audio>
                        <video ng-src={{post.original.attachments[0].src}} width="100%" height="250" controls ng-if="post.original.attachments[0].type == 3"></video>
                        <div class="w-100 text-center grey lighten-5 py-5" ng-if="post.original.attachments[0].type==4">
                            <i class="fa fa-file-o fa-5x black-text"></i>
                            <div class="font-weight-bold text-center py-2 grey lighten-1 w-100" style="position:absolute;bottom:0;left:0;">
                                <a href="{{ post.original.attachments[0].src }}" class="black-text" download><i class="fa fa-download"></i> {{post.original.attachments[0].originalName}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded-bottom mdb-color lighten-3 text-center px-md-1 pt-3 postFooter" ng-cloak>
            <ul class="list-unstyled list-inline font-size-18">
                <li class="list-inline-item pr-5">
                    <a class="white-text d-inline like" ng-click="like(post._id)">
                        <i class="mdi mdi-thumb-up pr-1" ng-class="{'blue-text':post.likes.includes(clientId)}"></i>
                        <span ng-show="post.likes.length > 0">{{post.likes.length}}</span>
                    </a>
                </li>
                <li class="list-inline-item pr-5">
                    <div class="white-text d-inline">
                        <i class="mdi mdi-comment pr-1"></i> <span ng-show="post.comments.length > 0">{{post.comments.length}}</span>
                    </div>
                </li>
                <li class="list-inline-item">
                    <div class="white-text d-inline" ng-class="{'blue-text':post.shares.includes(clientId)}">
                        <a class="white-text share" ng-click="askShare(post)">
                            <i class="mdi mdi-share-variant"></i> <span ng-show="post.shares.length > 0">{{ post.shares.length }}</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include lightbox %>
<%- include shareModal %>
<%- include deletionModal %>
<%- include signalModal %>