<div class="modal fade" role="dialog" id="shareModal">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header white-text">
                Partager la publication de {{ postToShare.sender.username }}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="p-2">
                    <div class="md-form w-75">
                        <select id="shareOption" class="mdb-select">
                            <option value="1" selected>En tant que publication</option>
                            <option value="2">En tant que message</option>
                        </select>
                        <label for="shareOption">Option de partage</label>
                    </div>
                    <div class="md-form" id="shareDestinationWrapper" style="display:none;">
                        <input type="search" id="shareDestination" class="form-control mdb-autocomplete">
                        <button class="mdb-autocomplete-clear">
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
                                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                                <path d="M0 0h24v24H0z" fill="none" />
                            </svg>
                        </button>
                        <label for="shareDestination" class="active">Choisir un destinataire</label>
                    </div>
                    <div class="md-form">
                        <textarea id="shareText" class="md-textarea form-control" rows="2"></textarea>
                        <label for="shareText">Dire quelque chose....</label>
                    </div>
                </form>
                <div class="d-flex align-items-center p-1 border rounded-top rounded-bottom">
                    <div class="text-center" style="max-width: 80px; min-height: 60px;">
                        <img ng-src={{postToShare.attachments[0].src}} class="img-fluid" ng-if="postToShare.attachments.length > 0 && postToShare.attachments[0].type == 1">
                        <video ng-src={{postToShare.attachments[0].src}} class="video-fluid" ng-if="postToShare.attachments.length > 0 && postToShare.attachments[0].type == 3"></video>
                        <i class="fa fa-file-audio-o fa-2x mt-2 black-text" ng-if="postToShare.attachments.length > 0 && postToShare.attachments[0].type == 2"></i>
                        <i class="fa fa-file-o fa-2x mt-2 black-text" ng-if="postToShare.attachments.length > 0 && postToShare.attachments[0].type == 4"></i>
                        <img ng-src={{postToShare.sender.profile}} alt="avatar" class="profile_img" ng-if="postToShare.attachments.length == 0">
                    </div>
                    <div class="ml-2 text-muted">
                        <div ng-if="postToShare.content && postToShare.content.length > 0">{{ postToShare.content }}</div>
                        <div ng-if="!postToShare.content && postToShare.attachments[0].type == 1">{{ postToShare.sender.username }} a partagé une photo.</div>
                        <div ng-if="!postToShare.content && postToShare.attachments[0].type == 2">{{ postToShare.sender.username }} a partagé un fichier audio.</div>
                        <div ng-if="!postToShare.content && postToShare.attachments[0].type == 3">{{ postToShare.sender.username }} a partagé une vidéo.</div>
                        <div ng-if="!postToShare.content && postToShare.attachments[0].type == 4">{{ postToShare.sender.username }} a partagé un fichier.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-flat border btn-sm no-transform" data-dismiss="modal">Annuler</button>
                <button class="btn btn-info border btn-sm no-transform" ng-click="share()">Partager</button>
            </div>
        </div>
    </div>
</div>