
<div class="modal fade" role="dialog" id="signalModal">
    <div class="modal-dialog modal-dialog-centered modal-notify modal-warning" role="document">
        <div class="modal-content">
            <div class="modal-header white-text">
                Signaler cette publication.
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="md-form">
                    <select ng-model="postToSignal.purpose" class="mdb-select colorful-select dropdown-warning">
                        <option value="" disabled selected>Choisir une raison</option>
                        <option value="1">Contenu inaproprié</option>
                        <option value="2">Offense personnelle</option>
                    </select>
                    <label>Pourquoi signaler cette publication?</label>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-sm btn-flat border no-transform" ng-click="cancelSignal()">Annuler</button>
                    <button class="btn btn-sm btn-warning no-transform" ng-click="signalPost()">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
</div>