<div id="users">
    <div class="mb-1">
        <div class="font-weight-bold ml-1" style="font-size: 25px;">Utilisateurs</div>
        <nav class="breadcrumb">
            <a href="#!/" class="breadcrumb-item"><i class="mdi mdi-home"></i></a>
            <a href="#!/" class="breadcrumb-item">Tableau de bord</a>
            <a href="#!/users" class="breadcrumb-item active">Utilisateurs</a>
        </nav>
    </div>
    <div class="overview row">
        <div class="col-lg-6">
            <div class="p-2">
                <div class="my-1">
                    <h3 class="h3-responsive d-inline">Etudiants</h4>
                    <a class="float-right mt-1" href="#!/">Voir tout <i class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="h4-responsive mb-0 card-title">Nombre total</h4>
                                <div class="text-muted">
                                    <span class="font-size-20">{{ users.students.length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="h4-responsive mb-0 card-title">En ligne</h4>
                                <div class="text-muted">
                                    <span class="font-size-20">{{ users.online.students.length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="h4-responsive mb-0 card-title">Top utilisateur</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-cascade narrower">                
                    <!--Card image-->
                    <div class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">                
                        <a href="" class="white-text mx-auto">Liste d'utilisateurs étudiants</a>                
                        <div>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-info-circle mt-0"></i></button>
                        </div>                
                    </div>
                    <!--/Card image-->                
                    <div class="px-4">                
                        <div class="table-wrapper">
                            <!--Table-->
                            <table class="table table-hover mb-0">                
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="student-checkbox">
                                            <label for="student-checkbox" class="mr-2 label-table"></label>
                                        </th>
                                        <th>Matricule</th>
                                        <th>Nom</th>
                                        <th>Prénom(s)</th>
                                        <th>Nom d'utilisateur</th>
                                    </tr>
                                </thead>
                                <!--Table head-->
                
                                <!--Table body-->
                                <tbody>
                                    <tr ng-repeat="student in users.students" ng-cloak>
                                        <th scope="row">
                                            <input type="checkbox" id="{{ student._id }}" value="{{ student._id }}">
                                            <label for="{{ student._id }}" class="label-table"></label>
                                        </th>
                                        <td>{{ student.matricule }}</td>
                                        <td>{{ student.nom }}</td>
                                        <td>{{ student.prenom }}</td>
                                        <td>{{ student.username }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-center" ng-show="users.students.length == 0">Aucun utilisateur enregistré</td>
                                    </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Table-->
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="p-2">
                <div class="py-1">
                    <h3 class="h3-responsive d-inline">Enseignants</h4>
                    <a class="float-right mt-1" href="#!/">Voir tout <i class="fa fa-angle-double-right"></i></a>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="h4-responsive mb-0 card-title">Nombre total</h4>
                                <div class="text-muted">
                                    <span class="font-size-20">{{ users.teachers.length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="h4-responsive mb-0 card-title">En ligne</h4>
                                <div class="text-muted">
                                    <span class="font-size-20">{{ users.online.teachers.length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="h4-responsive mb-0 card-title">Top utilisateur</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-cascade narrower">
                    <!--Card image-->
                    <div class="view gradient-card-header peach-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">                
                        <a href="" class="white-text mx-auto">Liste d'utilisateurs enseignants</a>
                
                        <div>
                            <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-info-circle mt-0"></i></button>
                        </div>
                
                    </div>
                    <!--/Card image-->
                
                    <div class="px-4">
                
                        <div class="table-wrapper">
                            <!--Table-->
                            <table class="table table-hover mb-0">
                
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" id="teacher-checkbox">
                                            <label for="teacher-checkbox" class="mr-2 label-table"></label>
                                        </th>
                                        <th>Matricule</th>
                                        <th>Nom</th>
                                        <th>Prénom(s)</th>
                                        <th>Nom d'utilisateur</th>
                                    </tr>
                                </thead>
                                <!--Table head-->
                
                                <!--Table body-->
                                <tbody>
                                    <tr ng-repeat="teacher in users.teachers" ng-cloak>
                                        <th scope="row">
                                            <input type="checkbox" id="{{ teacher._id }}" value="{{ teacher._id }}">
                                            <label for="{{ teacher._id }}" class="label-table"></label>
                                        </th>
                                        <td>{{ teacher.matricule }}</td>
                                        <td>{{ teacher.nom }}</td>
                                        <td>{{ teacher.prenom }}</td>
                                        <td>{{ teacher.username }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-center" ng-show="users.teachers.length == 0">Aucun utilisateur enregistré</td>
                                    </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Table-->
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>