<div id="publications">
    <div class="mb-1">
        <div class="ml-1 font-weight-bold font-size-25">Publications</div>
        <nav class="breadcrumb">
            <a href="#!/" class="breadcrumb-item"><i class="mdi mdi-home"></i></a>
            <a href="#!/" class="breadcrumb-item">Tableau de bord</a>
            <a href="#!/posts" class="breadcrumb-item active">Publications</a>
        </nav>
    </div>
    <div class="overview row mb-4">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="h4-responsive mb-0 card-title">Nombre total</h4>
                    <div class="grey-text font-size-20">{{ posts.posts.length }}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="h4-responsive mb-0 card-title">Publications signalées</h4>
                    <div class="grey-text font-size-20">{{ posts.signaled.length }}</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card card-cascade narrower mb-1" ng-cloak>                
                <!--Card image-->
                <div class="view card-header default-color narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">                
                    <a href="" class="white-text mx-auto">Liste publications</a>                
                    <div>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-info-circle mt-0"></i></button>
                    </div>                
                </div>
                <!--/Card image-->                
                <div class="px-4">
                    <div class="card position-relative mb-2" ng-repeat="post in posts.posts">
                        <div class="card-body pb-0">
                            <div class="d-flex">
                                <div>
                                    <img ng-src="{{ post.sender.profile }}" class="profile_img">
                                </div>
                                <div class="ml-2 d-block text-nowrap text-truncate">
                                    <strong>{{ post.sender.username }}</strong> {{ post.date }}<br>
                                    <p class="card-text">{{ post.content }}</p>
                                </div>
                                <div class="ml-auto" ng-if="post.attachments.length > 0">
                                    <img ng-src="{{ post.attachments[0].src }}" class="profile_img" ng-if="post.attachments[0].type == 1">
                                    <i class="mdi mdi-file fa-2x" ng-if="post.attachments[0].type > 1"></i>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <ul class="list-unstyled list-inline font-small mb-0">
                                <li class="list-inline-item pr-2">
                                    <div class=" grey-text d-inline">
                                        <i class="mdi mdi-thumb-up pr-1"></i> <span>{{post.likes.length}}</span>
                                    </div>
                                </li>
                                <li class="list-inline-item pr-2">
                                    <div class=" grey-text d-inline">
                                        <i class="mdi mdi-comment pr-1"></i> <span>{{post.comments.length}}</span>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <div class=" grey-text d-inline">
                                        <i class="mdi mdi-share-variant pr-1"></i>
                                    </div>
                                </li>
                                <li class="list-inline-item" ng-if="post.signaled.length > 0">
                                    <div class="warning-text d-inline grey-text">
                                        <i class="mdi mdi-alert pr-1"></i> <span>{{ post.signaled.length }}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card card-cascade narrower mb-1">                
                <!--Card image-->
                <div class="view card-header warning-color-dark narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">                
                    <a href="" class="white-text mx-auto">Publications signalées</a>                
                    <div>
                        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-info-circle mt-0"></i></button>
                    </div>                
                </div>
                <!--/Card image-->                
                <div class="px-4">
                    <div class="card position-relative mb-2" ng-repeat="post in posts.signaled" ng-cloak>
                        <div class="card-body">
                            <div class="d-flex">
                                <div>
                                    <img ng-src="{{ post.sender.profile }}" class="profile_img">
                                </div>
                                <div class="ml-2 d-block text-nowrap text-truncate">
                                    <strong>{{ post.sender.username }}</strong> {{ post.date }}<br>
                                    <p class="card-text">{{ post.content }}</p>
                                </div>
                                <div class="ml-auto d-flex">
                                    <div ng-if="post.attachments.length > 0">
                                        <img ng-src="{{ post.attachments[0].src }}" class="profile_img" ng-if="post.attachments[0].type == 1">
                                        <i class="mdi mdi-file fa-2x" ng-if="post.attachments[0].type > 1"></i>
                                    </div>
                                    <div class="ml-3 d-flex flex-column">
                                        <button class="btn btn-sm btn-success py-0 px-1 btn-rounded font-size-18 my-0" title="Autoriser"><i class="mdi mdi-check-circle"></i></button>
                                        <button class="btn btn-sm btn-danger p-0 btn-rounded font-size-18 my-0" title="Supprimer"><i class="mdi mdi-delete-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4" ng-if=" posts.signaled.length == 0">
                        <p class="text-center">Aucune publication signalée</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>